body{
    margin-top: 50px;
    background-color: rgb(255, 196, 0);
}
.corps{
    background-color: white;
    margin-left: 20%;
    margin-right: 20%;
}
.banniere{
    background: url(immoblade.png) no-repeat center;
    height: 100px;
    color: rgb(212, 199, 199);
}
.navigation{
    background: black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-size: 13px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:inline;
}
li{
    display:inline;
    margin: 10%;
}
.texte{
    margin-left: 15%;
    margin-right:15%;
    padding-top: 20px;
    
    font-size:5mm;
}
#t1{
    font-style: italic;
}
#t2{
    text-align: center;
}

.colonne {
    float: left;
    width: 33.33%;
    padding: 5px;
    margin-left: 10%;
    padding-bottom: 50px;
    
  }
  
.ligne::after {
    
    content: "";
    clear: both;
    display: table;
}
a:visited{
    color: white;
}

#i1{
    width: 100%;
    margin-bottom: -10px;
    padding-top: 100px;
}
#i2{
    padding-left: 13%;
}
#t4{
    text-align: center;
    font-size: 30px;
}
